<div class="container-fluid">
  <div class="text-center pt-5">
    <h1>Documento {{ document.name }}</h1>
    <textarea class="bg-white w-75 texto" rows="35" [ngModel]="document.content"
              maxlength="1000"
              (keyup)="atualizaConteudo($event)"
              (mouseup)="atualizaPosicaoCorrent($event)"
              (keyup.arrowLeft)="atualizaPosicaoCorrent($event)"
              (keyup.arrowRight)="atualizaPosicaoCorrent($event)"
              (keyup.home)="atualizaPosicaoCorrent($event)"
              (keyup.end)="atualizaPosicaoCorrent($event)"
              (keyup.backspace)="deletaConteudo($event)">
    </textarea>
  </div>
</div>

